In [38]:
import pandas as pd

In [74]:
# loading data to a DataFrame object
try:
    df = pd.read_excel(
        "ozimmig.xlsx",
        sheet_name="all_by_country_birth",
        header=None,
        index_col=0,
    )
except Exception as e:
    print(e)

In [75]:
# Transpose index & columns
df = df.T

# rename & modifying few column names
df.rename(
    columns={"Continent":"continent", "Region":"region", "Year":"country"},
    inplace=True
)

# setting column "country" as index
df.set_index('country', drop=False, inplace=True)

In [76]:
df.head()

,continent,region,country,Oct 1945-Jun 1947,1947–48,1948–49,1949–50,1950–51,1951–52,1952–53,...,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,2017-18
country,,,,,,,,,,,,,,,,,,,,,
Australia & External Territories,Oceania,Oceania & Antarctica,Australia & External Territories,0,0,0,0,0,0,0,...,2278,2289,3113,4113,5582,5292,4869,5668,5425,0
Cook Islands,Oceania,Oceania & Antarctica,Cook Islands,0,0,0,0,0,0,0,...,275,156,236,298,331,250,193,192,92,0
Fiji,Oceania,Oceania & Antarctica,Fiji,282,200,190,180,245,196,300,...,2158,1755,1651,1819,1656,1641,1278,1195,1035,536
French Polynesia,Oceania,Oceania & Antarctica,French Polynesia,0,0,0,0,0,0,0,...,17,10,14,10,12,8,14,6,9,0
Kiribati,Oceania,Oceania & Antarctica,Kiribati,0,0,0,0,0,0,0,...,10,17,9,6,11,8,21,29,34,5